*{
    box-sizing:border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
}

.main {
    display: flex;
    width: 100%;
     min-height: 100vh;
}

.left-side, .right-side {
    flex: 1;
    width: 50%;
}

.left-side {
    background-image: url(img/1pic.png);
    background-size: cover;
    background-position: center; 
    padding: 50px;}

.logo {
    width: 150px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}

.content {
    width: 100%;
    max-width: 450px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 20px;
    color: #96A5B1;

    margin-bottom: 50px;
}

.contact-row {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    justify-content: center;
}

.btn-fb, .btn-li {
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius:0%;
    height: 40px;
    width: 275px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.btn-fb { background-color: #255A9B; }
.btn-li { background-color: #0076B6; }

.or {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
    color: #999;
    font-size: 12px;
    width: 100%;
    max-width: 400px; 
        margin-left: auto;
            margin-right: auto;
}

.or::before, .or::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #eeeeee;
    margin-left: 15px;
    margin-right: 15px;
}

.or span {
    background: #fff;
    padding: 0 15px;
    position: relative;
    color: #b0bfc9;
    font-size: 12px;
    text-transform: uppercase;
}

.question {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.sub-question {
    margin-top: 5px;
    font-size: 14px;
    color: #96A5B1;
    margin-bottom: 30px;
}

.form {
    width: 100%;
    width: 460px;
}
.input-row {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.input-group {
    flex: 1;
}

.input-group label {
    display: block;
    font-size: 12px;
    color: #96A5B1;
    margin-bottom: 5px;
}

input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #EEEEEE;
    color: #2A4A5C;
}

.selector-row {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.selector-container label {
    font-size: 14px;
}


.btn-submit {
    width: 100%;
    background-color: #3698FB;
    color: white;
    border: none;
    padding: 18px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}

.info-icon {
    font-size: 12px;
    color: #96A5B1;
    margin-left: 15px;
}

.helper-box {
    background-color: #fcfcfc;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    width: 300px;
    padding: 15px 20px;
    font-size: 12px;
    color: #96a5b1;
    line-height: 1.5;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.02);
}

.checkbox-row {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 30px;
    color: #96A5B1;
    font-size: 12px;
}

.checkbox-row a {
    color: #3698FB;
    font-size: 12px;
}
.btn-submit {
    background-color: #4298c0;
    width: 300px;
    height: 50px;
}
